<h1>Sample App</h1>
<p>
XYZ: 
<br></br>
This is the Home Page for a sample rails application. 
</br></br>
It uses the Pages Controller <a href="http://www.freescale.com/">Freescale</a>
<br></br>
These are the pages/routes available in this sample application.
<br></br>
<a href="/pages/about">About</a> --> "pages/about"
<br></br>
<a href="/pages/contact">Contact</a> --> "pages/contact"
<br></br>
<a href="/pages/enter">Enter Data</a> --> On Submit, this will route to a page that shows the data entered.
<br></br>
<a href="/pages/home">Home</a> --> "pages/home"
<br></br>
The Root/Index is routed to <a href="/pages/home">Home</a>
</p>
